.user-identity-box__info {
    background-color: #190d1f;
    border-radius: 12px;
    padding: 10px;
}

.user-identity-bio {
color: #fff;
}
.user-identity-header__attributes h1 {
    color: #fff;
}
.user-identity-header__attributes h2 {
    color: #fff;
}
.user-identity-header__attributes h2 span {
    color: #fff;
}
ul.user-identity-stats > li > a > strong{
    color: #fff;
}
ul.user-identity-stats > li > aul.user-identity-stats > li > a > strong{
    color: #fff;
}
ul.user-identity-social > li > div > svg {
    color: #fff;
}
.user-identity-social__icon svg{
     color: #fff;
}
.user-identity-header__tag {
    background-color: #162328 !important;
    border:1px solid #454f53;
}
.user-identity-box__wrapper {
    background:-webkit-linear-gradient(350deg, #2c2246, #320520);
    padding: 20px;
    padding-bottom: 1px;
    border:4px solid;
    border-image: linear-gradient(#6966c4 , #7e0a4e);
    -moz-border-image: -moz-linear-gradient(#6966c4 , #7e0a4e);
    -webkit-border-image: -webkit-linear-gradient(#6966c4 , #7e0a4e);
    border-image-slice: 1;
}
.user-identity-header__button {
    background-color: #162328 !important;
    border:1px solid #454f53;
}
