/*Данный стиль написан для обсуждений. Поскольку обсуждения не поддерживают кастомный css, вам понадобится специальное расширение*/
/*Данный стиль растягивает обсуждения на всю страницу. Возможно, вам потребуется изменирть некоторые значения в зависимости от ширины вашего экрана*/
.post-details-desktop, .home-page-desktop, .user-posts-desktop {
    width: 150%;
}
.wds-fandom-content-well {
    margin: unset
}
#root > div:nth-child(2) > div > div{
    width: 147%;
}
/*Всё гениальное просто!*/
