/*Изменённые стили, позаимствованные с dev wiki*/
body {
    --theme-body-background-image: none !important;
	--theme-body-dynamic-color-1: #FFF;
	--theme-body-dynamic-color-1--rgb: 255,255,255;
	--theme-body-dynamic-color-2: #E6E6E6;
	--theme-body-dynamic-color-2--rgb: 230,230,230;
	--theme-page-dynamic-color-1: #0E191A;
	--theme-page-dynamic-color-1--rgb: 14,25,26;
	--theme-page-dynamic-color-1--inverted: #FFF;
	--theme-page-dynamic-color-1--inverted--rgb: 255,255,255;
	--theme-page-dynamic-color-2: #3A3A3A;
	--theme-page-dynamic-color-2--rgb: 58,58,58;
	--theme-sticky-nav-dynamic-color-1: #FFF;
	--theme-sticky-nav-dynamic-color-1--rgb: 255,255,255;
	--theme-sticky-nav-dynamic-color-2: #E6E6E6;
	--theme-sticky-nav-dynamic-color-2--rgb: 230,230,230;
	--theme-link-dynamic-color-1: #FFF;
	--theme-link-dynamic-color-1--rgb: 255,255,255;
	--theme-link-dynamic-color-2: #E6E6E6;
	--theme-link-dynamic-color-2--rgb: 230,230,230;
	--theme-accent-dynamic-color-1: #FFF;
	--theme-accent-dynamic-color-1--rgb: 255,255,255;
	--theme-accent-dynamic-color-2: #E6E6E6;
	--theme-accent-dynamic-color-2--rgb: 230,230,230;
	--theme-body-background-color: #f6f6f6;
	--theme-body-background-color--rgb: 0,31,37;
	--theme-body-text-color: #FFF;
	--theme-body-text-color--hover: #CCC;
	--theme-sticky-nav-background-color: #001F22;
	--theme-sticky-nav-text-color: #FFF;
	--theme-sticky-nav-text-color--hover: #CCC;
	--theme-page-background-color: #FFF;
	--theme-page-background-color--rgb: 255,255,255;
	--theme-page-background-color--secondary: #F3F4F4;
	--theme-page-text-color: #3A3A3A;
	--theme-page-text-color--rgb: 58,58,58;
	--theme-page-text-color--hover: #6D6D6D;
	--theme-page-text-mix-color: #9D9D9D;
	--theme-page-text-mix-color-95: #F5F5F5;
	--theme-page-accent-mix-color: #AFBDBD;
	--theme-page-headings-font: 'Rubik';
	--theme-link-color: #0645ad;
	--theme-link-color--rgb: 8,132,136;
	--theme-link-color--hover: #022627;
	--theme-link-label-color: #FFF;
	--theme-accent-color: #0645ad;
	--theme-accent-color--rgb: 95,122,123;
	--theme-accent-color--hover: #93ABAC;
	--theme-accent-label-color: #FFF;
	--theme-border-color: #CECECE;
	--theme-border-color--rgb: 206,206,206;
	--theme-community-header-color--hover: #CCC;
	--theme-community-header-color: #000000;
}
/*Глобнавменю*/
.global-navigation__label {
    color: #0645ad;
}
.global-navigation__nav .wds-icon {
    color: #fa005a;
}
/*Логотип википедии*/
.global-navigation__logo {
    content: url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Wikipedia-logo-ru.png);
    width: 50px;
    height: 60px;
}
.fandom-community-header__image {
    content: url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Wikipedia-logo-ru.png);
    width: 120px;
    height: 130px;
}
/*Футер (частично позаимствовано с dev wiki и изменено)*/
.global-footer {
	background-color: #F3F4F4 !important;
	color: #000000 !important;
}
.global-footer__bottom-bar {
	background: rgba(38,38,38,.5) !important;
}
.global-footer__bottom-bar a,.global-footer__bottom-bar a:visited {
	color: #000000 !important;
}
.global-footer__bottom-bar a:hover {
	color: #000000 !important;
}
.global-footer__bottom-bar-row.wds-has-border-top {
	border-top: 1px solid #656E78 !important;
}
.global-footer__link,.global-footer__link:active, .global-footer__link:focus, .global-footer__link:visited {
	color: #000000 !important;
}
.global-footer__link:hover {
	color: #000000 !important;
}
.global-footer__section.wds-is-follow-us .global-footer__link-image {
	color: #000000 !important;
	opacity: .3;
	transition: opacity .3s;
}
.global-footer__section.wds-is-fandom-stores::after {
	border-bottom: 1px solid #5F7A7B !important;
}
.global-footer__section-header {
	color: #000000 !important;
}
.global-footer__section-description {
	color: #000000 !important;
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
	.global-footer__section.wds-is-fandom-stores {
		border-right: 1px solid grey !important;
	}
}
body > div.main-container > footer > div.global-footer__content > div:nth-child(1) > h2 > a {
    content: url(https://upload.wikimedia.org/wikipedia/commons/4/4e/Wikipedia_mark_mobile.png);
}
body > div.main-container > footer > div.global-footer__bottom > div:nth-child(2) > a {
    color: #F3F4F4;
}
.global-footer__link-icon {
	color: black !important;
}
/*Совместимость c HydraRevived*/
.hydra-revived-ready .global-navigation__logo {
    content: url(https://dev.fandom.com/resources-ucp/dist/svg/wds-brand-fandom-logo-light.svg);
}
.hydra-revived-ready .wds-tabs__tab-label {
    color: #96999b;
}
.hydra-revived-ready .wds-list.wds-is-linked a{
    color: #0645ad;
}
/*Фикс дискорда в профиле*/
#userProfileApp > div > section > div.user-identity-box__info > ul.user-identity-social > li > div > div {
	color: black;
}
